@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Super Dairy</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperDairy.styles.css" asp-append-version="true" />
 
        <link rel="stylesheet" href="https://unicentric-cdn.s3.amazonaws.com/dist/bootstrap431/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicentric-cdn.s3.amazonaws.com/dist/kendoui/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="https://unicentric-cdn.s3.amazonaws.com/dist/kendoui/styles/kendo.bootstrap-v4.min.css" />
    <link href='https://unicentric-cdn.s3.amazonaws.com/css/font-awesome/css/font-awesome.css' rel="stylesheet" type="text/css" />


    @await RenderSectionAsync("Stylesheet", required: false)
</head>
<body>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Super Dairy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (User.Claims.Where(E => E.Type == ClaimTypes.Role).First()?.Value == "ADMIN")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CollectMilk">Milk Collection</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Bill">Billing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FatRate" asp-action="Index">Fat Rate</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Backup">Backup</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetBill">Check Bill</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav">
                            <li class="dropdown">
                                <a class="nav-link text-link dropdown-toggle" href="#" role="button" id="profileMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Hello, @User.Claims.Where(E=>E.Type == ClaimTypes.Name).First()?.Value
                                </a>
                                <div class="dropdown-menu" aria-labelledby="profileMenuLink">
                                    <a class="dropdown-item" href="#" onclick="userProfile(@User.Claims.Where(E=>E.Type == ClaimTypes.NameIdentifier).First()?.Value)">Profile</a>
                                    <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </div>
                                
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainModalLabel">Modal title</h5>
            </div>
            <div class="modal-body" id="mainModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" id="mainModalClose" class="mainModalClose btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="mainModalAccept" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="pageLoader display-none">
</div>
<div id="divKendoDialog"></div>

<script>
    function saveEditUser(){
        hideModal();
        $("#editUser").attr("action","/Users/Edit?redirectUrl="+window.location)
        console.log($("#editUser").attr("action"))
        $("#editUser").submit();
    }
    function userProfile(userId){
        let body=showModal("Edit user",saveEditUser,null);
        $(body).load(`@Url.Action("Edit","Users")?id=${userId}`);
    }
</script>