@model Core.Model.Bill
@{
    ViewData["Title"] = "Generate Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Stylesheet{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <style>
        @@media print {
          body * {
            visibility: hidden;
          }
          #bill-section, #bill-section * {
            visibility: visible;
          }
          #bill-section {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
    </style>
}
<div class="row">
<div class="col-lg-6">
    <div class="mb-3">
        <label asp-for="UserId" class="control-label">User Id :</label>
        <div class="row g-0">
            <div class="col-9">
                <select class="user-id-selector form-select" tabindex="1" onchange="setUserId(event)" data-placeholder="Select User">
                    <option></option>
                    @foreach (var user in (ViewData["Users"] as List<Core.Model.User>))
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>
            </div>
            <div class="col-3">
                <input asp-for="UserId" min="100" type="number" placeholder="User Id" onchange="changeUser(event)"
                       tabindex="1" class="form-control" />
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="day" class="control-label">Date :</label>
        <div class="row">
            <div class="col-4">
                <select id="day" tabindex="2" class="form-select" aria-label="Select Day">
                    <option selected>Select Day</option>
                    <option value="1">01-10</option>
                    <option value="11">11-20</option>
                    <option value="21">21-31</option>
                </select>
            </div>
            <div class="col-8">
                <input type="month" tabindex="3" class="form-control" id="month">
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="btn btn-success" tabindex="4" onkeypress="generateBill()" onclick="generateBill()">Generate</div>
    </div>
</div>
<div id="bill-section" class="col-lg-6 mt-5 mt-lg-0">
    <div class="m-5 p-5 text-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
</div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
<script>
    
    function changeUser(e) {
        $(".user-id-selector").val(e.currentTarget.value).trigger('change');
    }
    function setUserId(event){
        $("#UserId").val(event.currentTarget.value);
    }
    function generateBill(){
        let userId=$("#UserId").val();
        let day=$("#day").val();
        let month=$("#month").val();
        if(!day){
            $("#day").focus();

        }
        let date=new Date(month);
        date.setDate(day);
        $.ajax('@Url.Action("GetBill","Admin")',{
              data:{userId,date:new Date(date).toDateString() },
              method:'POST',
              success:(data)=>{
                  $("#bill-section").html(data);
              }
          });
    }
    $(function() {
        const monthControl = document.querySelector('input[type="month"]');
        const date= new Date()
        const month=("0" + (date.getMonth() + 1)).slice(-2)
        const year=date.getFullYear()
        monthControl.value = `${year}-${month}`;
    });
    
</script>
}