@{
    ViewData["Title"] = "Admin";
}

<div class="row gx-4">
    <div class="card col-12 col-sm-6 col-md-4">
        <div class="card-body">
            <h5 class="card-title">Cow</h5>
            <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        </div>
    </div>
    <div class="card col-12 col-sm-6 col-md-4">
        <div class="card-body">
            <h5 class="card-title">Buffalo</h5>
            <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        </div>
    </div>
    <div class="card col-12 col-sm-6 col-md-4">
        <div class="card-body">
            <h5 class="card-title">Goat & Other</h5>
            <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        </div>
    </div>
</div>