@{
    ViewData["Title"] = "Admin";
}


<div class="row">
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Active Users</h5>
        <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Cow</h5>
            <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Other</h5>
            <p class="card-text">
                <div class="h6">Liters : 100</div>
                <div class="h6">Average Fat : 4.5</div>
            </p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Active Users : 100</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Payment</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
